$primary : #7651E1 ;
$secondary : #2C2A4A ;
$light : #DEE2E6 ;
$dark : #212529 ;
$danger : #CE4257 ;
$success : #38b000;
$warning  : #f9a620;

@import "../node_modules/bootstrap/scss/bootstrap.scss";


